
.container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    /* align-items: center; */
    padding: 5%;
}
.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    border-radius: 25px; 
    margin: 17px;
    width: 90%;
    height: 75%;
    align-items: center;
  }
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height: 15vw; */
    border-radius: 20px;
}

.card-text {
    padding: 2px 16px;
    font-family: "Poppins Regular";
    text-align: center;
}

.card-text h4{
    font-size: 20pt;
    margin: 0;
    color: #3b3a3a;
}
.card-text p{
    margin: 0;
    color: #adadad;
    font-size: 11pt;
}

.dropbtnn {
    background-color: #4caf4f00;
    font-family: "Poppins Regular";
    color: #3b3a3a;
    padding: 8px;
    font-size: 12pt;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  /* Mobile View */

  @media screen and (max-width: 500px) {

    .container{
        display: block; 
    }
  }
